<h3>SEADM</h3>

<h2>@QuestionText</h2>

<div>
    @*<button type="submit" @onclick="" >Yes</button>
    <button type="submit" @onclick="">No</button>
    <br />
    <button type="submit" @onclick="">Go back</button>
    <button type="submit" @onclick="">Reset</button>*@
</div>

@code {
    private string QuestionText = "Placeholder... no question loaded";
}
