@page "/Baseline"

<h3>BaselineSurvey</h3>

@code {

    private Guid UserGuid { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
    }

}
