@page "/Baseline"

<div id="scenarioSurvey">
    <h1>BaselineSurvey</h1>
    <div id="form">
        <EditForm >

        </EditForm>
    </div>
</div>

@code {

    private Guid UserGuid { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Guid? guid = await Storage.GetUserGuidOrNullAsync();

        if (guid != null)
        {
            UserGuid = guid.Value;
        }
        else
        {
            NavigationManager.NavigateTo("Introduction");
        }

        await base.OnAfterRenderAsync(firstRender);
    }

}
