@page "/Consent"

<div id="consent">
    <h3>Consent Form</h3>
    <hr />
    <div class="form-group form-check">

        <p>
            <b>Please read the statements below and tick the final box to confirm you have read and understood the statements and upon doing so agree to participate in the study:</b>
            <ul>
                <li><p>I confirm that the research project <b>Detecting and avoiding deception in human interaction</b> has been explained to me. I have had the opportunity to ask questions about the project and have had these answered satisfactorily.</p></li>
                <li><p>I have had the opportunity to ask questions about the project and have had these answered satisfactorily.</p></li>
                <li><p>I consent to the material I contribute being used to generate insights for the research project <b>Detecting and avoiding deception in human interaction</b>.</p></li>
                <li><p>I understand that my participation in this research is voluntary and that I may withdraw from the research at any time (until the point of data analysis) without providing a reason.</p></li>
                <li><p>I consent to allow the fully anonymised data to be used for future publications and other scholarly means of disseminating the findings from the research project.</p></li>
                <li><p>I understand that the information/data acquired will be securely stored by researchers, but that appropriately anonymised data may in future be made available to others for research purposes.</p></li>
                <li><p>I understand that the University may publish appropriately anonymised data in its research repository for verification purposes and to make it accessible to researchers and other research users.</p></li>
                <li><p>I understand that for this survey to function it is important that I do not click refresh or the back button in my browser while the study is in progress.</p></li>
                <li><p>I understand that for this survey to function it is important that I do not manipulate the address of the page manually.</p></li>
                <li><p>To the best of my knowledge, I have not participated in this study before.</p></li>
            </ul>

        </p>

        <div >
            <p>
                <input type="checkbox" class="form-check-label" @bind="Consented" />
                I confirm that I have read and understood the above statements (check the box).
            </p>
        </div>

        <button class="btn btn-primary" disabled="@(!Consented)" 
                @onclick="GoToSurvey" >
            Accept
        </button>
    </div>
</div>
@code {
    private bool Consented = false;

    private async void GoToSurvey()
    {
        if (Consented)
        {
            // Record participant with a new Guid ID
            Guid userGuid = await SurveyService
                .CreateNewParticipantWithGuidAsync();

            // Store participant's ID locally
            await Storage.SetUserGuidAsync(userGuid);

            NavigationManager.NavigateTo("Survey");
        }
    }
}
