@page "/EvaluationIntro"
@page "/EvaluationIntro/{StudyGroup:int}"
<h3>EvaluationIntro</h3>

@switch (StudyGroup)
{
    // SEADM
    case 1:
        {
            <SEval4.Pages.Participants.EvaluationHelpers.ScenariosSeadmIntro />
        }
        break;

    // Feedback
    case 2:
        {
            <SEval4.Pages.Participants.EvaluationHelpers.ScenariosFeedbackIntro />
        }
        break;

    default:
        {
            <h3>Critical error</h3>
        }
        break;
}

@code {

    #region User Guid and Study group

    private Guid UserGuid { get; set; }

    [Parameter]
    public int StudyGroup { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender || UserGuid.Equals(Guid.Empty))
        {
            Guid? guid = await Storage.GetUserGuidOrNullAsync();

            if (guid is null)
            {
                //NavigationManager.NavigateTo("Introduction");
            }
            else
            {
                UserGuid = guid.Value;
            }
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    #endregion
}
