@page "/Introduction"

<div id="introduction">

    <h3>Detecting and avoiding deception in human interaction </h3>

    <hr />

    <p>
        We would like to invite you to consider participating in a research study. 
        Below is some information about the study, to help you decide whether you would like to take part. 
        The study should take a maximum of one hour and a forty five minutes to complete.

        Participation in this research study is completely voluntary. 
        You can withdraw from the study at any time, without having to give a reason for doing so.
    </p>

    <h5>Aims</h5>
    <p>
        I am investigating the effectiveness of games in security training, particularly in human-based interaction.
        The aim of the project is to evaluate user engagement, and if a game, developed for the study, will improve
        player’s ability to recognise deception and suspicious requests in fictional scenarios.
        The responses gathered in the experiments will be used in a dissertation for Master’s degree.
    </p>

    <h5>What you will be asked to do</h5>
    <p>

        In the experiment, you will be asked to indicate your age, experience with games,
        experience in communication-oriented occupations, whether you have any training (formal or informal) in detecting
        social engineering (e.g. phishing, phone phishing, impersonation), and your confidence in recognising a social
        engineering attempt. This will be followed with a questionnaire containing 10 scenarios in which you are asked to reveal
        some information or perform an action. For each scenario, you will choose one of four possible responses
        resulting in compliance or refusal to the request. After completing the form, you will be asked to play one of two games,
        which will be randomly allocated to you.

        Both games follow the same mechanics. You will take on a role of a Social Engineering Advisor.
        As an advisor, you receive questions from users, in which they describe some situation or interaction they suspect of being
        a deception. They also tell you how they responded, or intend to respond, to the event. Your task is to evaluate whether
        they are decision is adequate to the situation and choose one of the available answers.
        To aid the process, you have access to a detection model. The detection model asks you questions about the user’s story
        and helps narrow down the correct response.

        After completing 3 rounds of the game, you will be once again asked to complete a questionnaire containing 10 scenarios.
        Before concluding the experiment, you will be asked to provide feedback about the experiment
    </p>

    <h5>What you are be asked <u>not</u> to do</h5>
    <p>
        Please refrain from returning to the pages you have already completed,
        or navigating to different pages by manually changing the URL at the top of your browser.

        This may result in data corruption and undefined behaviour of the page.
        Use the button at the bottom of each page to continue to the next step of the study.
    </p>

    <h5>Data management and storage</h5>
    <p>
        Only anonymous data will be collected.
        It will be collected and stored indefinitely on secure university facilities.
    </p>

    <h5>Confidentiality and anonymity</h5>
    <p>
        The anonymous data collected will be analysed and may be used in publications, dissertations, 
        reports or presentations derived from the study. 
        The University’s privacy notice for research participants is available 
        <a href="https://www.abdn.ac.uk/about/privacy/research-participants-938.php" target="_blank" rel="noopener noreferrer">
            here
        </a>.
    </p>

    <h5>Consent</h5>
    <p>
        If you agree to take part in the research,
        you will be asked to indicate your consent by ticking a box on an online Consent Form.
    </p>

    <p>
        <b>Should you wish to participate, please select the Continue button.</b>
    </p>

    <div>
        <button class="btn btn-primary" @onclick="Continue">
            Continue
        </button>
    </div>

</div>

@code {
    private void Continue()
    {
        NavigationManager.NavigateTo("Consent");
    }
}
