@page "/"

<div id="introduction">

    <h3>Detecting and avoiding deception in human interaction </h3>

    <hr />

    <noscript>
        <div id="js-warning" style="background-color:orangered; padding:.5em;">
            <b style="color:whitesmoke;">
                Javascript is either not supported or is currently disabled in your browser. Please use another browser or enable Javascript, close and revisit this page to continue. If you continue to see this warning, please do not attempt to complete this study.
            </b>
        </div>
        <hr />
    </noscript>

    <p>
        I would like to invite you to consider participating in a research study.
        Below is some information about the study, to help you decide whether you would like to take part.
        The study should take a maximum of half an hour to complete.

        Participation in this research study is completely voluntary.
        You can withdraw from the study at any time, without having to give a reason for doing so.
    </p>

    <hr />

    <h5>Aims</h5>
    <p>
        I am investigating methods of training against human-based social engineering attacks.
        Social engineers use psychological manipulation and deception to gain access to sensitive information or to convince an individual to perform some action against their or the organisation's interests.
        The aim of the study is to compare the effectiveness of using Social Engineering Attack Detection Model against plain-text feedback as a training tool.
        The study will utilise fictional scenarios to evaluate participant performance and simple surveys to evaluate participant's confidence in facing such attacks.
        The responses gathered in the experiments will be used in a dissertation for master's degree in Computing Science.
    </p>

    <hr />

    <h5>What you will be asked to do</h5>
    <p>
        <b>[REQUIRED]</b>
        <ol>
            <li>
                <p>
                    You will be first asked to indicate your age, level of education, years of experience using means of communications in professional organisation context, whether you have undertaken formal or informal training related to safe communication, and confidence in recognising phishing and deception attempts.
                </p>
            </li>
            <li>
                <p>
                    After providing some information about yourself, you will be faced with five fictional scenarios in which you are asked to provide some information or perform an action. For each scenario, you will be asked to choose one of the four responses you find most adequate to the situation.
                </p>
            </li>
            <li>
                <p>
                    Following the five scenarios, you will be randomised into one of two study groups, determining the training method, and presented with one of several scenarios at a time. Similarly, to the previously encountered scenarios, you will be asked to choose one of four possible responses, however, you will be notified whether your response was adequate or not. If an inadequate response was chosen, the scenario will appear again later until the correct answer is selected, meaning you have unlimited attempts in all scenarios. The differences between the two study groups are explained below.
                </p>
            </li>
            <li>
                <p>
                    With all scenarios answered correctly, you will be then asked to respond to five more scenarios, following the same rules as the first five scenarios (step 2).
                </p>
            </li>
            <li>
                <p>
                    Finally, you will be asked to self-evaluate how the study has affected your confidence in recognising the social engineering attacks, and if you have any feedback regarding the study itself.
                </p>
            </li>
        </ol>

        <b>[OPTIONAL]</b>
        <ul style="list-style-type:'6. '; margin-top:.5em;">
            <li>
                <p>
                    If you wish to see the materials available to the study group you have not been allocated to, you will have an opportunity to do so after the final feedback. Note that this is optional and does not affect the results of your participation.
                </p>
            </li>

        </ul>
    </p>

    <hr />

    <h5>Study groups</h5>
    <p>
        <ol>
            <li>
                <p>
                    <b>Feedback</b> – Upon selecting an answer, you will be notified whether your answer is correct and presented with a plain text feedback providing further insights into the scenario and describing the consequences of responding inadequately.
                </p>
            </li>
            <li>
                <p>
                    <b>Detection model</b> – Before selecting an answer to the scenario, you will have an opportunity to consult a detection model. This detection model consists of several “Yes or No” questions, which should guide you towards choosing the correct response.
                </p>
            </li>
        </ol>


    </p>

    <hr />

    <h5>Data management and storage</h5>
    <p>
        Only anonymous, not indentifiable, data will be collected.
        It will be collected and stored indefinitely on a secure Microsoft Azure server.
    </p>

    <hr />

    <h5>Confidentiality and anonymity</h5>
    <p>
        The anonymous data collected will be analysed and may be used in publications, dissertations,
        reports or presentations derived from the study.
        The University’s privacy notice for research participants is available
        <a href="https://www.abdn.ac.uk/about/privacy/research-participants-938.php" target="_blank" rel="noopener noreferrer">
            here
        </a>.
    </p>

    <hr />

    <h5>Consent</h5>
    <p>
        If you agree to take part in the research,
        you will be asked to indicate your consent by ticking a box on an online Consent Form.
    </p>

    <hr />

    <h5>Further instructions</h5>
    <p>
        Thank you for considering taking part in the study.
        <ul>
            <li>If you have any questions, please direct them to <a href="mailto:u12mw16@abdn.ac.uk">u12mw16@abdn.ac.uk</a>.</li>
            <li>Do not return to the pages you have already completed or refresh the page you are viewing using the respective browser buttons.</li>
            <li>Do not attempt modify the page address at the top of your browser. Navigate through page using the provided buttons on the page.</li>
            <li>Do not participate in the study more than once.</li>
            <li>It is recommended to participate in the study on a desktop, laptop, or a table device. The layout of the website may not be compatible with smaller mobile devices.</li>
            <li>For any queries regarding ethical concerns you may contact the Convener of the Physical Sciences & Engineering Ethics Board at the University of Aberdeen at <a href="mailto:copsethics@abdn.ac.uk">copsethics@abdn.ac.uk</a>. This research project was approved by the Physical Sciences & Engineering Ethics Board on 30th of March 2021. </li>
        </ul>
    </p>

    <p>
        <b>Should you wish to participate, please select the Continue button.</b>
    </p>

    <div>
        <button class="btn btn-primary" @onclick="Continue">
            Continue
        </button>
    </div>

</div>

@code {

    private void Continue()
    {
        NavigationManager.NavigateTo("Consent");
    }
}