@page "/PostgameIntro" 
<div id="postgameIntro">

    <h1>Postgame survey</h1>
    <hr />

    <p>
        Similarly to the Baseline survey, you will be faced with five scenarios and four possible responses for each scenario.
        Please take as much time as you need to read and understand the scenarios and their respective answers.
        Choose the answer you find most suitable as a response by clicking on the square checkbox next to that answer.
        You must answer all scenarios to proceed to the next step of the study.
    </p>

    <div>
        <button class="btn btn-primary" @onclick="Continue">
            Continue
        </button>
    </div>

</div>
@code {

    private void Continue()
    {
        NavigationManager.NavigateTo("Postgame");
    }
}
