@page "/Thanks"

<div id="thanks">

    <h1>Thank you for participating in the study</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam iaculis mauris a tempor luctus. Proin pellentesque id nunc et ultrices. Maecenas varius sodales sem, sit amet mattis libero lobortis sit amet. Donec varius, lacus et posuere gravida, metus elit feugiat velit, id porttitor dolor arcu ac dui. Morbi luctus vehicula risus ut efficitur. Fusce mollis venenatis ipsum, vel porttitor quam ullamcorper sit amet. Fusce quis erat mattis, hendrerit velit vel, tristique urna. Nunc ac pretium lorem. Aenean sit amet sapien gravida, tempor magna ac, tempus ipsum.

        Quisque neque orci, accumsan in dolor sed, elementum interdum dolor. Maecenas vitae orci euismod libero efficitur vehicula. Duis eu purus ante. Suspendisse potenti. Phasellus consequat nisl vel fermentum consectetur. Nullam eu lacus nulla. Sed porta metus in arcu sagittis euismod. Praesent eu arcu eget dui iaculis porttitor. Pellentesque facilisis massa non mauris efficitur iaculis sed eu augue. Phasellus nunc mi, venenatis eget tortor in, sodales scelerisque nisl.

        Suspendisse pellentesque massa nec neque suscipit semper. Vestibulum varius nulla a ipsum lacinia, nec efficitur ante tristique. Quisque ac aliquam leo. Morbi pretium interdum arcu, eu congue ligula eleifend ac. Quisque magna felis, laoreet id lectus at, dignissim interdum nisl. Integer fermentum accumsan dignissim. Nulla at purus id odio faucibus interdum non vitae enim. Vivamus sed semper odio.
    </p>

    <div>
        <button class="btn btn-primary" @onclick="Continue">
            Continue
        </button>
    </div>

</div>

@code {        
    
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await Storage.ClearAsync();
        await base.OnAfterRenderAsync(firstRender);
    }

        private void Continue()
    {
        NavigationManager.NavigateTo("Consent");
    }
}
