@page "/Thanks"

<div id="thanks">

    <h3>Thank you for participating in the study</h3>
    <hr />

    <p>
        Thank you for taking time to complete this study. 
    </p>
    <p>
        <b>You may now close the browser tab.</b> <br />
        <b>You can also click <a href="SeadmInformation">this link</a> to see the introduction for the detection model group and read about the detection model.</b>
    </p>
</div>

@code {        
    
    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await Storage.ClearAsync();
        await base.OnAfterRenderAsync(firstRender);
    }
}
