@page "/test"

<h3>Test</h3>
<h5>Div1: @Text1</h5>
<h5>Div2: @Text2</h5>

<div @onclick="Parent1Click">
    <p>
        Some Text in parent div
    </p>
    <div @onclick="Child1Click">
        Some more text in child div (Propagation)
    </div>
</div>

<div @onclick="Parent2Click">
    <p>
        Some Text in parent div
    </p>
    <div @onclick="Child2Click" @onclick:stopPropagation >
        Some more text in child div (No propagation)
    </div>
</div>

<div>
    <span>With default: </span>
    <input value="@Counter" @onkeydown="KeyDown" />
    <span>Without default: </span>
    <input value="@Counter" @onkeydown="KeyDown" @onkeydown:preventDefault />
</div>

@code {
    private string Text1 = "Not clicked yet";
    private string Text2 = "Not clicked yet";
    private int Counter = 0;

    private void KeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "+")
        {
            Counter++;
        }
    }

    private void Parent1Click()
    {
        Text1 = "clicked in parent";
    }

    private void Child1Click()
    {
        Text1 = "clicked in child";
    }

    private void Parent2Click()
    {
        Text2 = "clicked in parent";
    }

    private void Child2Click()
    {
        Text2 = "clicked in child";
    }
}
