@inherits LayoutComponentBase

<div class="page">

    <div class="main">
        <div class="container" style="padding-top:50px; padding-bottom:100px;">
            @Body
        </div>
    </div>

</div>
