@page "/DMInfo"

<div>

    <h3>Question descriptions</h3>
    <hr />

    <h5><b>Do you understand what is requested</b></h5>
    <p>
        The first step of evaluating a request is to assess whether all information and demands are comprehendable.
    </p>

    <h5><b>Can you ask the requester to elaborate?</b></h5>
    <p>
        This step provides a mean of clarifying discrepancies and misunderstandings withing the request.
    </p>

    <h5><b>Do you undestand how to perform the request?</b></h5>
    <p>
        It is very important to determine whether the receiver is competent to perform the request in full.
        This step differs from the first step, because the receiver has to assess whether they have the necessary knowledge to perform the request and not whether the request itself is clear.

    </p>

    <h5><b>Are you capable of providing the request?</b></h5>
    <p>
        Here, the receiver must determine whether they are physically and/or mentally capable of providing the request.
    </p>

    <h5><b>Do you have the authority ot perform the request?</b></h5>
    <p>
        The next step is assess the receiver's authority to perform the request.
        Even if the receiver is knowledgable and capable of providing the request, their actions must adhere to the set up policies, contractual obligations, etc.
    </p>

    <h5><b>Is the requested action or information available to the public?</b></h5>
    <p>
        Information availble to the public are generally safe to share without prior auhorisation of the requester.
        In case of the request being an action, the receiver should consider whether the requester should hold some level of authority to request it
    </p>

    <h5><b>Is this a pre-approved request that can be performed to avoid a life-threatening emergency?</b></h5>
    <p>
        This step considers the urgency and consequences for the requester if the reuqest is not provided.
        Altough it is difficult to assess at times, if the life of an individual is in at risk upon denial of the request, the receiver must perform the request if the receiver is capable and authorised to do so.
    </p>

    <h5><b>Are any of these conditions for refusal true?</b></h5>
    <p>
        In this step the receiver must decide whether there are any reasons that can constitute a refusal of providing the request.
        If any of the four reasons is present, the identity and authorisation of the requester must be verified.

        <div style="margin-left:1em;">
            <b>Are there any administrative reasons for refusal?</b><br />
            <p>
                This question refers to all administrative requirements that the requester must meet in order to request the information or action.
                For example, some information may be available only to an authorised group of people requiring requester's data for verification.
            </p>

            <b>Are there any procedural reasons for refusal?</b><br />
            <p>
                This questions refers to all possible procedural requirements that may forbid or require appropriate handling when providing the request or information.
                For example, an organisation may have policies put in place to forbid employees from connecting external storage devices to the office workstation.
                In such case, if the request deals with plugging a USB stick to an employee's computer, it would be sufficient to constitute refusal.
            </p>

            <b>Is this an unusual or new type of request?</b><br />
            <p>
                Altough organisations put security policies in place to keep its assets and employees safe, a case must be made for unforseen scenarios and circumstances.
                If the type of request is new to the receiver, this may constitute refusal or refer the request to the qualified entities.
            </p>

            <b>Are there any other reasons for refusal?</b><br />
            <p>
                The final reason for refusal is open-ended and account for the receivers personal judgement, intuition, and experience.
                If the receiver finds the request suspicious in any way, they have a valid reason to constitute refusal.
            </p>
        </div>
    </p>

    <h5><b>Is the requester's identity verifiable?</b></h5>
    <p>
        In this step, the receiver must assess if it is possible to verify the requester and the associated roles, authority, and additional information.
        Means of verifying a person differ depending on context.
        For example, an employee can easily verify their manager's credibility and authority when asked about their date of birth without additonal data.
        When the circumstances are not that clear, the requester must be verified using available tools or trusted third parties.
    </p>

    <h5><b>How many verification methods hold?</b></h5>
    <p>
        If the requester's identity can be verfied, the receiver must identify the extent to which this can be performed.
        The receiver must take into account credibility and authority of the requester, but also previous interactions.

        <div style="margin-left:1em;">
            <b>Can the authority level of the requester be verified?</b><br />
            <p>
                The requester must be confirmed to hold appropriate permissions to request the information or action.
                For example, if the requester is confirmed to be a doctor, then they have the authority to view their patient's medical reports.
            </p>

            <b>Can the credibility of the requester be verified?</b><br />
            <p>
                There are numerous factors affecting the judgement of credibility.
                The receiver must assess whether the requester is in fact who they claim to be and have no malicious intent.
                For example, a colleague requesting some infromation in the office, face to face, is more credible than the at long distance, contacting you by e-mail.
            </p>

            <b>Did you have previous interactions with the requester?</b><br />
            <p>
                The requester's identity is easier to verify when the receiver has had previous interactions with the requester.
            </p>

            <b>Are you aware of the existence of the requester?</b><br />
            <p>
                This questions asks whether the requester is known to the receiver or someone who receiver trusts.
                It differs from the previous question as it is not concerned with the interactions, but only with knowledge of the other persons's existence.
                For example, a student may know the name of a Professor who works in their department despite never having any classes or interactions with them.
            </p>
        </div>

    </p>

    <h5><b>Can you verify the requester through a trusted third party?</b></h5>
    <p>
        If the requester can be verified only for some of the requirements, their identity should be confirmed with a trusted third party.
        For example, if a new employee you have never met before sends you an e-mail asking for some information, the third party to verify their identity could be their manager or the HR department.
    </p>

</div>
